body {
  font-family: 'Tajawal', sans-serif;
}
html, body {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden !important;
}

#root {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}
